<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ABOUT</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
{{>header}}

<section class="about" id="about">
        <div class="row">
            <div class="col50">
                <h2 class="titleText"><span>A</span>bout Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate qui animi, saepe dolor natus optio facere itaque accusantium ipsam aperiam repellat alias earum veritatis tempora non modi facilis iure. Quas possimus eveniet ipsam in omnis hic, dignissimos fugiat nam culpa voluptatum, consequatur veniam voluptatem quibusdam magni dolorum repellendus odit aspernatur recusandae asperiores natus optio debitis velit enim. Ratione optio saepe ipsum minus officiis pariatur veritatis, temporibus necessitatibus nam commodi! <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perferendis odit quas autem a, veniam veritatis harum facere ipsam, quidem ducimus neque corrupti id delectus</p>
            </div>
            <div class="col50">
                <div class="imgBx">
                    <img src="css/img1.jpg">
                </div>
            </div>
        </div>
    </section>

    <div>
        <p>Welcome to about us by {{name}} of {{age}} years old. </p>
    </div>

    {{>footer}}
</body>
</html>